// seletores: propriedades: valores

header { 
    background-color: rgb(107, 8, 8);
}

// tag
img {
    width: 200px;
}

// class
.card {
    background-color: beige;
    border: 10px solid black;
    // opacity: 0.7;
}

// ID
#bt1 {
    background-color: rgb(136, 33, 33);
}